.page{
  width: 100%;
}


@media (max-width: 1200px){
  .active .navik-header-container{
    min-height: 100vh;
    /* position: fixed;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0; */
  }
}